.login-wrap {
    background-color: #ea4b1f;
    margin-top: 2rem;
    align-items: center;
    border-radius: .5rem;
}

a:hover {
    color: #ea4;
}

.btn {
    width: 100%;
}

.wrap {
    width: 100%;
}