@font-face {
    font-family: 'IranSans';
    src: url('../fonts/iran_sans.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }
  
.about {
    text-align: center;
    direction: rtl;
}

.content {
    padding: 7em;
}
.about h1, p {
    direction: rtl;
    /* font-family: 'A Iranian Sans'; */
    font-family: 'IranSans';
}

.why-us-img {
    height: 150px;
    width: 150px;
    margin-right: 10px;
}


.whyUsContainer {
    padding-top: 55px;
    padding-bottom: 100px;
    text-align: center;
}

.whyUsDetailContainer {
    top: 0px;
    text-align: center;
    font-size: 30px;
    color: #989898;
}

.whyUsOptions {
    color: #009fff;
    font-size: 25px;
}

.whyUsConclusion {
    color: #717da5;
    font-size: 22px;
}

.stepsDescriptionContainer {
    padding-top: 50px;
    /* padding-left: 70px;
    padding-right: 30px; */
    ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image-div {
    padding-bottom: 40px;
}

  .whyUsDetailContainer, .whyUsOptions {
    /* font-family: 'A Iranian Sans'; */
    font-family: 'IranSans';
    color: #fff;
    font-size: 18px;
  }

  .whyUsDetailContainer {
      font-size: 24px;
  }

  @media only screen and (max-width: 600px) {

    .whyUsOptions {
        font-size: small;
    }

    .why-us-img {
        margin-top: 10px;
        margin-bottom: -19px;
    }

    .gallery {
      padding: "0px"; 
      flex-direction:"column";
    }
    
    .stepsDescriptionContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      /* margin-right: 10px; */
    }

    /* .card{
      width: 100%;
      height: 150px;
    } */
  }