.navbar {
    height: 5.67rem;
    direction: rtl;
    font-family: "A Iranian Sans";
}

.logo {
    text-decoration: none;
    color: #fff;
}

.item , .drop-down , .drop-item{
    font-family: 'A Iranian Sans';
    
}

.drop-down title {
    font-family: 'A Iranian Sans';

}
