:root {
    color: #fff;
    background-color: #000;
}

@font-face {
    font-family: 'IranSans';
    src: url('../../fonts/iran_sans.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    overflow-x: hidden;
    /* font-family: 'IRANSans'; */
    font-family: "IranSans";
    background-color: var(--background-color);
}

*{
    margin: 0;
}
